@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}
nav {
    height: 80px;
    display: flex;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
    padding: 20px;
}
p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}
.purple{
    color: #7342d6;
}

.logo {
    width: 100px;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

/* MW */
.nav__logo {
    display: flex;
    align-items: center;
}

/* MW */
.nav__logo--name {
    font-size: 24px;
    font-weight: bold;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #7342d6;
    font-weight: bold;
    padding: 8px;
}
.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    /* border: 2px solid; */
    border-radius: 4px;
}
/* MW */
.nav__link--primarylogin {
    margin-left: 32px;
}
/* MW */
.nav__link--primarysignup {
    color: #fff;
    background-color: #7342d6;
    border-radius: 40%;
    padding-left: 20px;
    padding-right: 20px;
}

.nav__link--primary:hover {
    text-decoration: none;
}
.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #7342d6;
    display: none;
}
/* 
.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
        visibility: visible;
        opacity: 1;
} */

/* 120:29 e-commerence how to fix the scroll bar from appearing with the burger */
/* .menu--open {
    max-height: 100vh;
    overflow-y: hidden
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu__list {
    padding: 32px 0;
}

.menu__link {
    font-size: 40px;
    color: white;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
} */
/*

LANDING

*/
/* MW edited out background color */
#landing {
    /* background-color: rgba(115, 66, 214, 0.1); */
}
header {
    height: calc(100vh - 80px);
}
/* MW max-width to 1200px */
.header__container{
    width: 100%;
    max-width: 1200px;
    margin: 0  auto;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    
}
/* MW padding top 100px */
.header__description {
    padding-top: 100px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}
.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}



h1 {
    font-size: 52px;
    /* color: #7342d6; */
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}
button {
    cursor: pointer;
}
/* cool effect below this where it moves the button a pixel down */
button:active {
    transform: translateY(1px);

}

.btn {
     background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  transition: all 300ms;
  cursor: pointer;
}
.btn:hover {
      background-color: rgba(80, 17, 204);

}

/* .btn {
    background-color: #7342d6;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    color: white;
} */

.header__img--wrapper {
    padding: 20px;
    z-index: 2;
}

.container {
padding: 56px 0;
}

.row {
width: 100%;
max-width: 1200px;
margin: 0 auto;
}
.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-cursor {
    cursor: not-allowed;
    
}
/* 

highlights

*/
